<html>
<head>
<meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>
<h1>A napi középhőmérséklet számolt értéke: {{#temp}}
                                              {{#entrySet}}
                                                <li>{{key}} : {{value}}{{unit}}</li>
                                              {{/entrySet}}
                                            {{/temp}}</h1>
A következő koordinátákon: {{lat}}:{{lng}}
</body>
</html>